{% extends "layout.html" %}
{% block content %}
<head>

  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
</head>
<body>
  <form method="POST" enctype="multipart/form-data" action="">
<div class="container light-style flex-grow-1 container-p-y"  data-aos="zoom-in" data-aos-delay="100">
    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account-general">
              <div class="card-body media align-items-center">
                <img src="{{url_for('static', filename='profile_images/' + mentor.profile_image)}}" alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput" name="profile_image" accept="image/*">
                  </label> &nbsp;
                  <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control mb-1" value="{{ mentor.username }}" name="username">
                </div>
                <div class="form-group">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" value="{{ mentor.full_name }}" name="full_name">
                </div>
                <div class="form-group">
                  <label class="form-label">E-mail</label>
                  <input type="text" class="form-control mb-1" value="{{ mentor.email }}" name="email">
                  {% if not user.confirmed %}
                  <div class="alert alert-warning mt-3">
                    Your email is not confirmed. Please check your inbox.<br>
                    <a href="{{url_for('auth.resend_confirmation')}}">Resend confirmation</a>
                  </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="form-label">Company</label>
                  <input type="text" class="form-control" value="{{ mentor.company }}" name="company">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="account-change-password">
              <!-- Change password form -->
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>
  
                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>
  
                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>
  
              </div>
            </div>
            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Bio</label>
                  <textarea class="form-control" rows="5" name="bio">{{ mentor.bio }}</textarea>
                </div>
                <div class="form-group">
                  <label class="form-label">Profession</label>
                  <input type="text" class="form-control" value="{{ mentor.profession }}" name="profession">
                </div>
                <div class="form-group">
                  <label class="form-label">Languages Spoken</label>
                  <input type="text" class="form-control" value="{{ mentor.languages_spoken }}" name="languages_spoken">
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="text" class="form-control" value="{{ mentor.phone_no }}" name="phone_no">
                </div>
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" value="{{ mentor.address }}" name="address">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mt-3 mb-4">
      <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
    </div>
  </div>
  </form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>
<script>
  // Initialize Bootstrap tabs
  $(document).ready(function(){
    $('.list-group-item-action').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  });
</script>
</body>
{% endblock %}