.team-section{
 overflow: hidden;
 text-align: center;
 background:#34495e;
  padding: 60px;
}

.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
  font-size: 40px;
}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}

.ps{
  margin-bottom: 40px;
}

.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s;
}

.ps a img:hover{
  filter: grayscale(0);
  filter: none;
}

.team-section .section{
  width: 600px;
  margin: auto;
  color: #ddd;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.team-section .section:target{
  height: auto;
}

.name{
  display: block;
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}