/* Header.css */
.app-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    display: flex;
    align-items: center;
  }
  
  .left-content h1 {
    margin-right: auto; /* Move the "Skillsyncs" slogan to the left end */
  }
h1{
    font-size: 60px;
    padding: 0;
    margin: 0;
}
  nav {
    display: flex;
    margin-left: auto; /* Move nav to the right end */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  a{
    font-size: 30px;
    font-weight: 600;
    outline: none;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
  }
  nav a:hover {
    text-decoration: underline;
  }
  