

.overAll{
  box-sizing: border-box;
}

.newletter{
  padding: 10px;
  text-align: center;
}

.newletter .mentors{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.newletter .mentors .mentor{
  margin: 20px;
  padding: 20px;
}

.mentors .mentor img{
  border-radius: 25px;
  width: 200px;
  height:auto;
}



.newletter span{
  font-size: 25px;
}


.newletter .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newletter .buttonOne{
  margin-left: 200px;
  margin-top: 50px;
 
}
.newletter .buttonOne .Get{
  font-size: 25px;
  height: 60px;
  width: 200px;
  margin-left: 10px;
  color: #fff;
  background-color: #bc27bc;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newletter .buttonOne .Get:hover{
  color: #1eb2a6;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.newletter i {
  padding: 12px;
  color: #1eb2a6;
  background-color: #fff;
}


footer{
  margin: 0;
  padding: 0;
  font-family: 'poppins', 'sans-serif';
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 100px;
  font-size: 13px;
  line-height: 20px;

}

footer  .container {
 width: 85%;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: space-between;
 flex-direction: row;
} 

footer .container .col{
  flex-basis: 20%;
  padding: 10px;

}

footer .container .col .pic{
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

footer .container .col .pic h1{
  font-size: 50px;
  margin-top: 30px;
  padding: 10x;
  margin-bottom: 10px;
}

footer .container .col h3, p{
  margin: 0;
  padding: 0;
}

footer .container .col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email_id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}


footer .container .col ul li{
  list-style: none;
  margin-bottom: 12px;
} 

footer .container .col ul li a{
  text-decoration: none;
  color: #fff;
}

footer .container .col .form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

footer .container .col .form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

footer .container .col .form button{
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
}

footer .container .col .form button .fas{
  font-size: 16px;
}

.legal{
  text-align: center;
  border-top: 1px solid #ccc;
}