.classOne .firstone{
    border-right: 1px solid hsl(0, 8%, 49%);
    width: 200px;
    text-decoration: none;
    padding: 50px;
}

.firstone li{
    list-style-type:none ;
    padding: 20px;
    font-size: 26px;
}

.firstone li link{
    text-decoration: none;
}