*{
  padding: 0;
  margin: 0;
}
.head {
  padding: 40px;
  color: #fff;
  background-color: hsl(295, 71%, 41%);
  border-radius: 10px; 
  display: flex;
  flex-direction: row;
}

.head .logo{
  margin: 10px;
}

.head .container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: hsl(295, 71%, 41%);
  width: 100vw;
  }
.head .container .logo h1{
  font-size: 60px;
}


img{
  width: 100px;
}


.head .container .buttonThree{
  background: linear-gradient(to left, #00ffff, #FF02FF);
  margin-left: 70px;
  border: 2px solid #fff;
  border-radius:20px ;
  width: 400px;
  height: 80px;
  color: hsl(288, 71%, 30%);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', 'sans-serif';
}

.head .container .buttonThree::before{
  content: "";
  top: 0;
  left: 0;
  background-color: linear-gradient(120deg, transparent, #00fffc, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}


.head .buttonThree:hover{
  color: hsl(176, 47%, 82%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:transparent;
  box-shadow: 0 0 20px 5px #00fffc;
}



.head .container .buttonThree h1{
  padding: 10px;
  font-weight: 500;
  font-size: 30px;
}


header { 
  background-color: rgba(101, 211, 50, 0.2);
  margin: 0px;
  border-radius: 10px;
  display: flex;
}



header .nav {
  display: flex;
}
.flexSB{
  display: flex;
  flex-direction: row;
}

header ul {
  padding: 30px 20px;
  display: flex;
  list-style: none;
}

ul li{
  font-weight: bold;
  text-decoration: none;
}


header ul li{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

header ul li a {
  color: hsl(295, 71%, 41%);
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
}
header ul li a:hover {
  color: #1eb2a6;
} 



.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: hsl(296, 68%, 49%);
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 650px;
}

.start .buttonTwo{
  font-size: 25px;
  height: 60px;
  width: 200px;
  margin-left: 10px;
  color: #fff;
  background-color: #bc27bc;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.start .buttonTwo:hover{
  color: #b41eeb;
  background-color: #fff;
}

.toggle {
  display: none;
}

.mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }

.flower{
  width: 50%;
  margin: 0 auto;
}
.flower svg#flower-frame{
  height: 90vh;
  width: 100%;
}