*{
  padding: 0;
  margin: 0;
}
.head {
  padding: 40px;
  color: #fff;
  background-color: hsl(295, 71%, 41%);
  border-radius: 10px;
  height: 10vh;
  
}
span, h1{
  margin-left: 70px;
}
.logo h1 {
  font-size: 60px;
  font-weight: 900;
  }
.head .icon {
  margin-left: 0px;
}

header { 
  background-color: rgba(101, 211, 50, 0.2);
  margin: 0px;
  border-radius: 10px;
  display: flex;
}

header .nav {
  display: flex;
}
.flexSB{
  display: flex;
  flex-direction: row;
}

header ul {
  padding: 30px 20px;
  display: flex;
  list-style: none;
}

ul li{
  font-weight: bold;
  text-decoration: none;
}


header ul li{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

header ul li a {
  color: hsl(295, 71%, 41%);
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
}
header ul li a:hover {
  color: #1eb2a6;
} 



.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: hsl(296, 68%, 49%);
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 300px;
}

.button{
  padding: 10px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color: hsl(295, 71%, 41%);
  font-weight: bold;
  font-size:20px ;
  text-decoration: none;
  height: 40px;
  width: 150px;
  text-align: center;
  align-content: center;
}

.button:hover{
  color: hwb(294 59% 16%);
}


.toggle {
  display: none;
}

.mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }

