.aboutUS{
  display: flex;
  flex-direction: column;
}

.aboutUS h1{
  color: #fff;
  padding-top:20px ;
  margin-bottom: 20px;
}

 .aboutUS .search a{
  text-decoration: none;
  color: #fff;
  padding: 20x;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 45px;
}

.learn button{
 margin-left: 800px; 
}

.mentors{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}



.mentors .mentor{
  margin: 10px;
  padding: 10px;
}

.titleOne{
  color: #fff;
  text-align: center;
}


.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "Get Stated";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}