.aboutUS{
  display: flex;
  flex-direction: column;
}

.aboutUS h1{
  color: #fff;
  padding-top:20px ;
  margin-bottom: 20px;
}

 .aboutUS .search a{
  text-decoration: none;
  color: #fff;
  padding: 20x;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 45px;
}

.learn{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.learn button{
  width: 80px;
  height: 25px;
}

.mentors{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}



.mentors .mentor{
  margin: 10px;
  padding: 10px;
}

.titleOne{
  color: #fff;
  text-align: center;
}