.aboutUS{
  display: flex;
  flex-direction: column;
 
}

.aboutUS h1{
  color: #fff;
  padding-top:20px ;
  margin-bottom: 20px;
}

 .aboutUS .search a{
  text-decoration: none;
  color: #fff;
  padding: 20x;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 45px;
}

.learn button{
 margin-left: 800px; 
}

#team{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #00093c, #2d0b00);
  margin-top: 380px;
}

a{
  text-decoration: none;
}

.team-heading{
  color: #ffffff;
  font-size: 3rem;
  text-transform: lowercase;
}

.team-box{
  width: 100%;
  padding: 20px;
  user-select: none;
 
}

.b-t-image{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
 }

.b-t-image::after{
 display: flex;
 justify-content: center;
  align-items: center;
 content: '';
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 150px;
 background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0)100%);
}

.b-t-image img{
  width: 90%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  filter: grayscale(1);
  margin-left: 10px;
}

.b-t-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-t-text strong{
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
}

.b-t-text span{
  color: #919191;
  font-size: 1rem;
}

.mySwiper{
  width: 750px;
}

.swipper-slide{
  width: 300px !important;
  opacity: 0.5;
  margin: 50px 0;
  margin-top: 0px;
}
.swipper-slide:active{
  opacity: 1;
  border: 10px solid #0617ff;
}


.titleOne{
  color: hsl(149, 87%, 18%);
  text-align: center;
  margin-top: 500px;
}


.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "Get Stated";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}


.heor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  overflow: hidden;
}

.heor .heading h1{
  color:#ff6347;
  padding-top: 35px;
  margin-bottom: 20px;
  font-size: 55px;
}


.heor .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 65px auto;
  width: 90%;
}

.heor .hero-content{
  flex: 1;
  width: 600px;
  margin: 0px 20px;
  animation: fadeInUp 2s ease;
}
.heor .heading h1{
  color: #ff6347;
  font-size: 45px;
  margin-bottom: 20px;
}

.heor .hero-content h2{
 font-size: 18px;
 margin-bottom: 20px;
 color: #333;
}

.heor .hero-content p{
  font-size: 24px;
  margin-bottom: 40px;
  color: #666;
  line-height: 1.5;
}
.heor .hero-content button{
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.heor .hero-content button:hover{
  background-color:#ff6347;
  transform:scale(1.1);

}

.heor .hero-image{
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

.heor .hero-image img{
  width: 100%;
  height: 550px;
  border-radius: 10px;
}

@media screen and (max-width: 768px){
  .heor .heading h1{
    font-size: 45px;
    margin-top: 30px;
  }
  .heor{
    margin: 0px;
  }
  .heor .container{
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px 40px;
  }
  .heor .hero-content{
    width: 100%;
    margin: 35px 0px;
  }
  .heor .hero-content h2{
    font-size: 30px;
  }
  .heor .hero-content p{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .heor .hero-content button{
    padding: 10px 20px;
    font-size: 16px;
  }
  .heor .hero-image{
    width: 100%;
    margin: 0px;
  } 
  .team-heading h3{
    font-size: 2.3rem;
  }
}


@keyframes fadeInUp {
 0%{
   opacity: 0;
   transform: translateY(40px);
 }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(-40px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}