{% extends "layout.html" %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Skillsync</h1>
      <h2>Empowering Growth Through Mentorship</h2>
      <a href="{{url_for('auth.register_user')}}" class="btn-get-started">Start Your Mentorship Journey Today</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static', filename='img/about.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Unlock Your Potential with Skillsync</h3>
            <p class="fst-italic">
              Skillsync is your gateway to personalized mentorship experiences, connecting you with industry experts to accelerate your growth journey.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Access tailored mentorship sessions for your specific goals.</li>
              <li><i class="bi bi-check-circle"></i> Connect with experienced mentors from diverse backgrounds and industries.</li>
              <li><i class="bi bi-check-circle"></i> Gain valuable insights, guidance, and support to excel in your career or personal endeavors.</li>
            </ul>
            <p>
              Take the first step towards realizing your potential. Join Skillsync today.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Mentors Section ======= -->
    <section id="mentors" class="mentors">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Meet Our Top Mentors</h2>
          <p>Unlock Your Potential with Skillsync Mentors</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter White</h4>
                <span>Web Development</span>
                <p>
                  Unlock the secrets of web development with Walter's expertise and guidance.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Sarah Jhinson</h4>
                <span>Marketing</span>
                <p>
                  Sarah's extensive experience in marketing will help you navigate the complexities of the industry.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>William Anderson</h4>
                <span>Content</span>
                <p>
                  William brings a wealth of knowledge in content creation, guiding you towards impactful storytelling.
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Mentors Section -->

  </main><!-- End #main -->

{% endblock %}
