{% extends "layout.html" %}

{% block content %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Mentors</h2>
        Are you seeking guidance, inspiration, or simply a friendly ear to listen to your ideas? Look no further! Welcome to our vibrant mentor page, where a community of experienced professionals awaits to support you on your journey.
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="row">
            {% for mentor in mentors %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{{url_for('static', filename='profile_images/' + mentor.profile_image)}}" class="img-fluid" alt="Profile Image">
                  <div class="member-content">
                    <h4><a href="{{ url_for('mentor.view_mentor', mentor_id=mentor.user_id) }}">{{ mentor.full_name }}</a></h4>
                    <span>{{ mentor.profession }}</span>
                    <p>{{ mentor.bio }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

{% endblock %}