{% extends "layout.html" %}

{% block content %}
    <h2 class="container team-header">MEET OUR TEAM</h2>
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
          
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member"  data-aos="fade-right" data-aos-delay="100">
                <img src="{{url_for('static', filename='/img/team/alex.jpg')}}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Alex Kinyua</h4>
                  <span>Software Engineer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member"  data-aos="zoom-in" data-aos-delay="100">
                <img src="{{url_for('static', filename='/img/team/kazibwe.jpeg')}}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Yassin Kazibwe</h4>
                  <span>Team Leader</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member"  data-aos="fade-left" data-aos-delay="100">
                <img src="{{url_for('static', filename='/img/team/duresa.jpeg')}}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Duresa Eshetu</h4>
                  <span>Front-end Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Trainers Section -->

{% endblock %}