*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'outfit';
  background: linear-gradient(#ffdad5, #fff7f9);
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 20px;
  margin-bottom: 20px;
}


.contact-input{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea{
  border-radius: 20px;
  height: 140px;
  padding-top: 15px;
}
.contact-input:focus{
  border: 2px solid #ff994f;
}

.contact-input::placeholder{
  color: #a9a9a9a9;
}


.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(270deg, #ff994f, #fa6d86 );
  cursor: pointer;
  height: 80px;
}



@media (max-width:800px) {
  .contact-input{
    width: 80vw;
  }
  .contact-right{
    display: none;
  }
}