{% extends "layout.html" %}

{% block content %}
<style>
    /* Custom styles */
    .login-form {
      background-color: #fff; /* White background */
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
      margin-bottom: 50px;

    }
  </style>
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-container">
        <form class="login-form" method="POST">
            <h4>Forgot Password Form</h4>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email" required name="email">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}