{% extends "layout.html" %}

{% block content %}
<style>
    .login-form {
      background-color: #fff; /* White background */
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    }
  </style>
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-container">
        <h2 class="text-center mb-4" style="color: #000080;">Be a mentor</h2>
        <form class="login-form" method="POST">
            <div class="form-group">
                <label for="fullname">First & Last Names</label>
                <input type="text" class="form-control" id="fullnames" placeholder="Enter your full name" name="full_name">
              </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" placeholder="Confirm your password" name="confirm_pass">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Sign up</button>
        </form>
        <div class="text-center mt-4">
          <p>Already have an account? <a href="{{url_for('auth.login')}}">Log in here</a></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}